.myCourse {
  margin-top: $mg-2;
  .custom-course-col {
    margin: 11px 0 !important;
  }
  .content {
    background-color: $color-gray-5;
    h1 {
      @include text($color-black-0, $fs-2 - 3, $fw-bold);
    }
  }

  .myTab {
    .nav {
      height: 60px;
      justify-content: space-between;
      flex-wrap: nowrap;

      .nav-item {
        .nav-link {
          height: 100%;
          @include text($color-black-0, $fs-0, $fw-normal);
          &:hover {
            border-color: transparent;
          }
        }

        .nav-link.active {
          border-color: transparent;
          border-bottom: 6px solid $color-blue;
        }
      }
    }

    .tab-content {
      position: relative;
    }

    .card {
      @include card-custom();
      display: flex;
      flex: 1 0 auto;
      height: 100%;
      flex-direction: column;

      .card-title {
        @include limit-line(2);
      }
    }
  }

  @include respond-to("large") {
    .content {
      display: none !important;
    }
    .myTab {
      .nav {
        .nav-link {
          font-size: $fs-1 + 1 !important;
        }
      }
    }
  }
  @include respond-to("medium") {
    .myTab {
      .nav {
        flex-direction: column;
        height: 100%;
        // flex-wrap: wrap;
      }
    }
  }
}
